.box-cart-item-img {
    max-width: 100px;
    max-height: 100px;
}

html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.cart h2 {
    padding: 0.5rem;
}

.box-cart {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.box-cart-item-box {
    width: 100%;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

.box-cart-item {
    display: flex;
}

.qty_btn {
    width: 30px;
    height: 30px;
    text-align: center;
}

.qty_input {
    width: 70px;
    text-align: center;
}

.box-cart-bill {
    border: 1px solid #e6e6e6;
    padding: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

:root {
    --color: #2c2e53;
    --color-hover: #131317;
}

.cart span {
    color: #fd475a;
}
.cart-empty-container {
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
}
