@page
@model ShoeShop.Pages.AccessDeniedModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml"; // Đảm bảo rằng bạn có layout
}

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<div class="container text-center" style="margin-top: 100px;">
    <h1>Access Denied</h1>
    <p>You are here because you accessed a page that is exclusively available for registered or premium members. However, if you have already registered you can log in here.</p>
   
</div>
