@page
@using DataAccess.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var products = ViewData["Products"] as List<Product>;
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Image/banner/banner.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Image/banner/banner2d.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Image/banner/banner3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="product-most">

    <div class="text-center text-head">
    <h3>Sản Phẩm Nổi Bật</h3>
</div>
    <div id="multiItemCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="row">
                    @foreach (var product in products)
                    {
                        <div class="col-md-3">
                            <div class="card">
                                <img src="@product.Image" class="card-img-top product-image" alt="Product 1">
                                <div class="card-body">
                                    <h5 class="card-title">@product.Title</h5>
                                    <p class="card-text">Price Old: @product.PriceOld</p>

                                    <p class="card-text">Price New: @product.PriceNew</p>
                                    <a href="#" class="btn btn-primary">Mua</a>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<<div class="about-section">
    <div class="text-center text-head ">
        <h3>Về Chúng Tôi</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Image/about/Nike_Headquarters_Oregon.jpg" style="width:100%;" />
        </div>
        <div class="col-md-6">
            <p>
                Nike, Inc. (/ˈnaɪki/ hoặc /ˈnaɪk/) là một tập đoàn đa quốc gia của Hoa Kỳ tham gia thiết kế, phát triển, sản xuất,
                tiếp thị và bán giày dép, may mặc, thiết bị và dịch vụ trên toàn thế giới. Công ty có trụ sở chính gần Beaverton,
                Oregon, trong vùng đô thị Portland. Đây là nhà cung cấp giày và quần áo thể thao lớn nhất thế giới, với doanh thu vượt
                46 tỷ đô la Mỹ trong năm tài chính 2022. Công ty được Bill Bowerman và Phil Knight thành lập vào ngày 25 tháng 1 năm 1964
                với tên "Blue Ribbon Sports", và trở thành Nike, Inc. vào ngày 30 tháng 5 năm 1971.
            </p>
        </div>
    </div>
</div>
