@page
@model ShoeShop.Pages.authentication.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div class="container mt-5">
    <h1>Forgot Password</h1>
    @if(Model.Message != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="name@example.com" required />
                    <label asp-for="Email">Email</label>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </form>

        </div>
        <div>
            <a asp-page="/authentication/Login">Back to Login</a>

        </div>
        
    </div>
</div>