@page
@model ShoeShop.Pages.authentication.RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="container mt-5">
    <h1>Register</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="name@example.com" required />
                    <label asp-for="Email">Email</label>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                    <label asp-for="Password">Password</label>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required />
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>

        </div>
        
        <div class="col-md-6 offset-md-2">
            <section>
                <h3>Use another service to register.</h3>
                <hr />
                <p>No external authentication services are configured.</p>
                <button class="btn btn-primary mb-2">Log in with Google</button>
                <button class="btn btn-primary mb-2">Log in with Facebook</button>
            </section>
        </div>
        <div>
            <a asp-page="/authentication/Login">Back to Login</a>

        </div>
    </div>
</div>