/* _content/ShoeShop/Pages/cart/Index.cshtml.rz.scp.css */
.box-cart-item-img[b-z7b7am5lsk] {
    max-width: 100px;
    max-height: 100px;
}

html[b-z7b7am5lsk] {
    font-size: 14px;
}

.btn:focus[b-z7b7am5lsk], .btn:active:focus[b-z7b7am5lsk] {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.cart h2[b-z7b7am5lsk] {
    padding: 0.5rem;
}

.box-cart[b-z7b7am5lsk] {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.box-cart-item-box[b-z7b7am5lsk] {
    width: 100%;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

.box-cart-item[b-z7b7am5lsk] {
    display: flex;
}

.qty_btn[b-z7b7am5lsk] {
    width: 30px;
    height: 30px;
    text-align: center;
}

.qty_input[b-z7b7am5lsk] {
    width: 70px;
    text-align: center;
}

.box-cart-bill[b-z7b7am5lsk] {
    border: 1px solid #e6e6e6;
    padding: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

:root[b-z7b7am5lsk] {
    --color: #2c2e53;
    --color-hover: #131317;
}

.cart span[b-z7b7am5lsk] {
    color: #fd475a;
}
/* _content/ShoeShop/Pages/product/List.cshtml.rz.scp.css */
body[b-7rutpwifpd] {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


.card img[b-7rutpwifpd] {
    height: 200px;
    width: 100%;
    object-fit: cover;
}


h5 a[b-7rutpwifpd] {
    text-decoration: none;
}

.fillter p[b-7rutpwifpd] {
    margin-top: 4%;
    margin-left: 14%;
}

    .fillter p a[b-7rutpwifpd] {
        margin-right: 20px;
        text-decoration: none;
        margin-left: 10px;
        color: black;
    }

.btn-secondary[b-7rutpwifpd] {
    color: black;
    background-color: white;
    border-color: #6c757d;
}
/* _content/ShoeShop/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-oxf4oc6i7s] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-oxf4oc6i7s] {
  color: #0077cc;
}

.btn-primary[b-oxf4oc6i7s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-oxf4oc6i7s], .nav-pills .show > .nav-link[b-oxf4oc6i7s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-oxf4oc6i7s] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-oxf4oc6i7s] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-oxf4oc6i7s] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-oxf4oc6i7s] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-oxf4oc6i7s] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
